<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Add A City</h1>
      <div class="row center">
        <a href="/cities" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">View Cities</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="<%= url('img/background1.jpg') %>" alt="Unsplashed background img 1"></div>
</div>

<div class="row container">
  <form class="col s12" action="/cities" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" placeholder="City Name" name="name" id="name" class="validate">
        <label for="name"></label>
      </div>
      <div class="input-field col s6">
        <label for="state"></label>
        <input type="text" placeholder="State" name="state" id="state" class="validate">
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
