<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Transit System </h1>
      <div class="row center">
        <h5 class="header col s12 light">An app to help you plan your next train adventure.  View current routes, cities, and train lines in your area!</h5>
      </div>
      <div class="row center">
        <a href="/trains" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">View Trains</a>
        <a href="/cities" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">View Cities</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="<%= url('img/background1.jpg') %>" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">navigation</i></h2>
          <h5 class="center">Trains not Brains</h5>

          <p class="light">Our trains are state of the art retro 80's themed trains.  All of our trains come with complementary oatmeal creme pies and Pepsi Clear.  Additionally, once a month, on a random train, Hall &amp; Oates gives a special performance.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">schedule</i></h2>
          <h5 class="center">On time, every time</h5>

          <p class="light">The University of Colorado Boulder is the home of the world's atomic clock center.  They base their clocks off of how accurate our trains' arrivals are. Boom! (as in sonic-boom)</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
          <h5 class="center">Omnitemporal cities</h5>

          <p class="light">Does your city not exist yet? Are you from the future? Don't worry, we've got that covered.  Our trains visit locations where cities aren't even built yet.  Why you ask? How do you think cities start in the first place?</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Stupid. Fast. Trains.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>


<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 offset-l3 center-align">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Our trains are stupid fast.  We make our company function the same way.  Our structure is fast, our hiring is fast, and maybe firing.  Ouch.  #teaminstinct</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="http://www.pokemongo.com/">Chip and Noah</a>
    </div>
  </div>
</footer>
