<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Add A Train </h1>
      <div class="row center">
        <h5 class="header col s12 light">An app to help you plan your next train adventure.  View current routes, cities, and train lines in your area!</h5>
      </div>
      <div class="row center">
        <a href="/trains" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">View Trains</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="<%= url('img/background1.jpg') %>" alt="Unsplashed background img 1"></div>
</div>

<div class="row container">
  <form class="col s12" action="/trains" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" placeholder="Train Line" name="line" id="line" class="validate">
        <label for="line"></label>
      </div>
      <div class="input-field col s6">
        <label for="seats"></label>
        <input type="text" placeholder="Seats" name="seats" id="seats" class="validate">
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
