<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Transit System </h1>
      <div class="row center">
        <h5 class="header col s12 light">An app to help you plan your next train adventure.  View current routes, cities, and train lines in your area!</h5>
      </div>
      <div class="row center">
        <a href="/trains" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">View Trains</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="./public/background1.jpg" alt="Unsplashed background img 1"></div>
</div>
